* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #E6E2AF;
    color: white;
}

#score {
  width: 100%;
}

#board {
  width: 500px;
  height: 500px;
  margin: 1em auto;
  box-shadow: 0px 0px 0px 4px rgba(0,47,47,1);
}

#board {

  > div {
    border: 1px solid rgba(0,47,47,0.1);
    float: left;
    width: 50px;
    height: 50px;
  }
}


#score {

  div {
  width: 10em;
  height: 4em;
  text-align: center;
  padding: 0.7em;
  background-color: #046380;
  border: 2px solid #002F2F;
  border-radius: 10px;
  margin: 1em auto;
  font-weight: 700;
  line-height: 20px;
    strong {
      font-size: 22px;
    }
  }
}



.furry {
  background-image: url('../images/furry.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.coin {
  background-image: url('../images/coin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#over {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(167,163,126, 0.95);

}

    .container {
      width: 300px;
      height: 200px;
      margin: 150px auto 0 auto;
      color: white;
      background-color: #046380;
      text-align: center;
      padding-top: 20px;
      border-radius: 10px;
      border: 3px solid white;


    }
      .big {
        font-size: 30px;
        font-weight: 900;
      }

.invisible {
  display: none;
}
