* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1695A3;
    color: white;
}

#welcome {

  h1 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
}
.play, .playAgain {
  width: 100px;
  height: 44px;
  font-size: 24px;
  margin: 30px auto;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.play:hover, .playAgain:hover {
  background-color: white;
  color: #046380;
  box-shadow: 3px 3px 3px 0px rgba(0,47,47,1);
  top: -1px;
  right: 1px;
}

.play:active, .playAgain:active {
  top: 1px;
  left: 1px;
  box-shadow: none;
}

#score {
  width: 100%;
}

#board {
  width: 500px;
  height: 500px;
  margin: 1em auto;
  box-shadow: 0px 0px 0px 4px rgba(0,47,47,1);
  background-color: #F3FFE2;
}

#board {

  > div {
    border: 1px solid rgba(0,47,47,0.1);
    float: left;
    width: 50px;
    height: 50px;
  }
}


#score {

  div {
  width: 10em;
  height: 4em;
  text-align: center;
  padding: 0.7em;
  background-color: #046380;
  border: 2px solid #002F2F;
  border-radius: 10px;
  margin: 1em auto;
  font-weight: 700;
  line-height: 20px;
    strong {
      font-size: 22px;
    }
  }
}



.furry {
  background-image: url('../images/furry.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.coin {
  background-image: url('../images/coin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#over, #welcome {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(22, 149, 163, 0.95);

}

    .container {
      width: 320px;
      height: 250px;
      margin: 150px auto 0 auto;
      color: white;
      background-color: #046380;
      text-align: center;
      padding-top: 20px;
      border-radius: 10px;
      border: 3px solid white;
      padding: 30px 15px 20px 15px;


    }
      .big {
        font-size: 30px;
        font-weight: 900;
      }

      .playAgain {
        width: 150px;
      }

#over {
  .container {
    height: 290px;
  }
}

.invisible {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.coin {
  animation: blink 0.7s infinite linear alternate;
}
